@import './mail/main-mail.css';

@import './note/main-note.css';

body{
  
padding: 10px;
}
/* helpers */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}
.grid{
    display: grid;
}
 

.list-none{
    list-style: none;
    
}

.margin-center{
    margin: 0 auto;
    display: block;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}
.text-center{
text-align:center;

}

.cursor{
cursor: pointer

}

.space-between {
    justify-content: space-between;
}

.space-around{
    justify-content: space-around
}

.wrap{
 flex-wrap: wrap;

}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}
.border-bottom{
    border-bottom: 1px solid black;
}
.border-top{
    border-top: 1px solid black;
}
.stared-icon{
    margin-bottom: 17px;
}
.text-decor{
    text-decoration: none;
}