@import './mail/main-mail.css';

@import './note/main-note.css';

/* helpers */

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}
.grid{
    display: grid;
}
 

.list-none{
    list-style: none;
    
}

.margin-center{
    margin: 0 auto;
    display: block;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}
.text-center{
text-align:center;

}

.cursor{
cursor: pointer

}

.space-between {
    justify-content: space-between;
}

.space-around{
    justify-content: space-around
}

.wrap{
 flex-wrap: wrap;

}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}
.reply-area{
    resize: none;
    height: 100%;
    width: 90%;
}