

.note-title{
    color:white;
    font: xx-large;
}

.note-app-container {
    background-color:#202124;
   
}


.notActive {
    text-decoration-line: line-through;

}

.isHidden {
    display: none;
}


.nav-container {
    background-color: #202124;
    height: 5em;
    border-bottom: groove yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filter-selector {
    align-items: center;
}

.note-img {
    height:8em;
}

.image{
    width: 30px;
    height: 30px;
}

.add-note-container {
    background-color: #202124;
    height: 5em;
}


.note {
    background-color: #202124;
    border: solid 1px white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 1em;
    color: white;
}

.note-text {
    font: initial;
}

.modal {
    background-color: #6a6c74;
    position: absolute;
    left: 40%;
    border: 2px solid white;
    border-radius: 3px;
    width:fit-content;
    padding: 2em;
    color: white;
    opacity: 0.97;
}

.modalInput {
    width: 17em;
}

.close-modal-btn {
    position: absolute;
    right: 2%;
    top: 2%; 
}

.modal-img {
    height:12em;
    width:12em;
}

.pin-on-note {
    background-color: black;
    /* position: absolute;
    left: 2%;
    top: 2%; */

}

.input {
    border: 2px solid light-grey;
    border-radius: 3px;
    height: 40px;
    padding: 0 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    background: space;
    width: 25em;
}

.inputColor {
    height: 2.5em;
    width: 2.5em;
}

.select {
    border-radius: 2px;
    height: 43px;
    padding: -1px 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: space;
    width: 5em;
    margin: 0 1em 0 1em;
    border: inset;
    color: #6a6c74;
}

.add-note-selector {
    display: flex;
    align-items: center;
}

.label {
    color: white;
}

button {
    padding: auto;
    border:none;
    text-decoration: none;
}



@media screen and (max-width: 660px) {

    .nav-container{
        flex-direction: column;
        height: 7em;
    }
    .filter-note-container {
        flex-direction: column;
    }
    .input{
        width: 24em;
        padding: 3px;
    }
    .add-note-container {
        flex-direction: column;
        height: 7em;
    }
    .add-note-selector {
        flex-direction: column;
        height: 7em;
    }
}