



.note-title{
    color:red
}

.note-app-container {
    background-color: lightseagreen;
}


.active {
    text-decoration-line: line-through;
}


.nav-container {
    background-color: lightsalmon;
    height: 5em;
}

.add-note-container {
    background-color: lightsteelblue;
    height: 5em;
}

.note {
    background-color: linen;
    border: solid 1px black;
    width: fit-content;
    padding: 10px;
    
}

.note-text {
    font: initial;
}