li {
    list-style: none;
}
a{
    text-decoration: none;
}
.email-title {
    color: blue
}


.email-status {
    border-style: solid;
    transform: translate(10px, 10px);
    width: 100%;
}

.email-inner {
    height: 24px;
    /* width:20%; */
    background-color: brown;
}

.email-outer {
    background-color: aliceblue;
}

.status-num {
    display: block;
    text-align: center;
    height: 0;
}

.email-list-container {
    margin-top: 10px;
    margin-right: 10px;
}

.email-container {
    display: grid;
    grid-template-columns: 15% auto;
   height: 800px;
    background-color: lightgray;
 
    font-family: cursive monospace sans-serif;
}



.mail-side {
    margin-top: 30px
}
.mails-list{
    margin-left: -10px;
}

.mails-list li {
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border: 0.5px solid gray;
    align-items: center;
    /* height: 70px; */
}

.opened-email {
    grid-column: 1/4;
    background-color: silver;
    padding: 10px;
}

.email-form {
    grid-template-rows: repeat(10, 1fr);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
.email-expanded{
    margin-left: 20px;
}
.area-txt {
    grid-row: 6/10;
    resize: none;
}
.compose{
    height: 50px;
}



.form-trash {
    color: #808080;
    font-size: 20px;
    margin-right: 5px;
}

.yellow {
    color: rgb(181, 129, 33);
}

.readed {
    background-color: darkgrey;
}
.read-btn{
    display: flex;
    flex-direction: row-reverse;
    font-family: cursive


}

.note-icon{
    font-size: 25px;
}
.outer-mail {
    grid-template-columns: repeat(10, 1fr);
    /* height: 50px; */
}

.subject-mail {
    grid-column: 3/7;
}

.email-box {
    margin-top: 16px;
}

.list-star {
    margin-left: 5px;
    margin-top: 15px; 
     font-size: 20px;
    /* color: rgb(195, 141, 40); */
}

.trash {
    margin-top: 18px;
    font-size: 25px;
}

.count-inbox {
    font-size: 14px;
}

.mails-btn {
    background-color: #808080;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: cursive

}

.form-title {
    color: white;
    font-size: 24px;
}

.compose-bar {
    background-color: #000000ba;
    padding-left: 10px;
    height: 50px;
}

.reply-area {
    resize: none;
    height: 60%;
    width: 97%;
}
.txt-links{
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}








@media screen and (max-width:590px) {
  
   .txt-links{
       display: none;
   }
   .mail-side a{
       margin-bottom: 40px;
   }
   .mail-side {
    margin-left: 15px;
}
   .email-status{
       display: none;
   }
  .email-container{
    grid-template-columns: 1% auto;

  }
  .email-expanded {
    margin-left: 35px;
}
.email-form {
  
   
    margin-left: 15px;
   
}

.item{
    font-size: 10px;
}
.email-box{
    height: 20px;
    width: 20px;
}
.trash {
    margin-top: 15px;
    font-size: 15px;
}

.note-icon {
   
    font-size: 20px;
    margin-bottom: 11px;
}

.list-star {
  
    font-size: 15px;
    
}
.opened-email h2{
    font-size: 18px;
}
  
}